@keyframes jump-shaking {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateY(-9px)
    }

    35% {
        transform: translateY(-9px) rotate(10deg)
    }

    55% {
        transform: translateY(-9px) rotate(-10deg)
    }

    65% {
        transform: translateY(-9px) rotate(10deg)
    }

    75% {
        transform: translateY(-9px) rotate(-10deg)
    }

    100% {
        transform: translateY(0) rotate(0)
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #f0f0f0;
    perspective: 1000px;
    font-family: 'Times New Roman';
    overflow-x: hidden;
}

.folder {
    cursor: pointer;
    max-width: 600px;
    width: 100%;
    height: 500px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s ease-in-out;
    animation: jump-shaking 1s 2;
}

.part {
    position: absolute;

    width: 600px;
    background-color: #ad2641;
    box-sizing: border-box;
    transition: transform 1s ease-in-out;
}

.top,
.bottom {
    transform-style: preserve-3d;
}

.top-reverse,
.bottom::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateX(180deg);
}

.top {
    color: white;
    top: -160px;
    z-index: 2;
    height: 160px;
    transform-origin: bottom;
    background-color: #7f1b2f;

    .triangle {
        transform: rotate(0deg);
    }

    .triangle,
    .triangle-back {
        position: absolute;
        z-index: 3;
        width: 0px;
        height: 0px;
        top: -79.5px;
        border-style: solid;
        border-width: 0 300px 80px 300px;
        border-color: transparent transparent #a5243e transparent;
    }

    .triangle-back {
        z-index: 4;
        left: 0;
        position: absolute;
        transform: rotateX(360deg);
        backface-visibility: hidden;
        border-color: transparent transparent #7f1b2f transparent;
    }

    .logo {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        top: -20px;
        position: absolute;
        z-index: 5;
        left: 50%;
        transform: translateX(-50%);
        letter-spacing: 1px;
        backface-visibility: hidden;
    }
}

.top-reverse {
    background-color: #a5243e;
    /* Orange */

    .guests {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
        font-weight: 100;
        text-align: center;
        letter-spacing: 2px;
        font-style: italic;
        backface-visibility: hidden;
    }
}

.middle {
    top: 0;
    height: 500px;
    background-color: #74182a;
    /* Blue */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.bottom {
    z-index: 1;
    bottom: -340px;
    height: 340px;
    transform-origin: top;
    background-color: #7f1b2f;
    /* Purple */
}

.bottom::after {
    background-color: #ad2641;
    /* Deep Orange */
}

.folder.open .top {
    transform: rotateX(-180deg);
    transition-delay: 1s;
}

.folder.open .bottom {
    transform: rotateX(180deg);
}

.folder.closing .top {
    transition-delay: 0s;
}

.folder.closing .bottom {
    transition-delay: 1s;
}

.paper {
    margin: 20px;
    width: 560px;
    height: 460px;
    left: 0;
    top: 0;
}

.seal,
.seal-back {
    position: absolute;
    top: -80px;
    left: 50%;
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    transform: translate(-50%, -50%) rotateX(180deg);
    background-color: #b78a59;
}

.seal {
    z-index: 3;
    top: -80px;
}

.branch-left {
    top: 5rem;
    left: 0;
}

.branch-right {
    top: 14rem;
    right: 0;
}

.confirmation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    text-align: center;
    padding: 40px;
    color: white;
    letter-spacing: 1px;
    width: 350px;
}

.confirmation .phones {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}